<!DOCTYPE html>

<html ng-app="bingoApp">
<head>
    <meta charset="utf-8" />
    <title>Bingo</title>
    <!-- build:css css/styles.min.css -->
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/jquery.jgrowl.css" />
    <!-- endbuild -->
    <script src="scripts/angular.min.js"></script>
    <link rel=" icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>
    <div class="wrapper" ng-controller="userCtrl as user">
        <header class="block">
            <div>
                <h1 class="text-center">Welcome to Bingo<span ng-show="user.userLogin">, {{user.userLogin}}</span></h1>
            </div>
            <div ng-show="user.isAuthenticated">
                <h1 ng-bind="user.time.toString()" class="text-center"></h1>
            </div>

            <nav class="text-center menu">
                <!--<a ng-show="user.isAuthenticated" href="#/game">Game</a>-->
                <a ng-show="user.isAuthenticated" ng-click="user.logout()" href="#/login">Logout</a>
                <a ng-hide="user.isAuthenticated" ng-class="{active: user.isLoginActive()}" ng-click="user.setActive('login')" href="#/login">Login</a>
                <a ng-hide="user.isAuthenticated" ng-class="{active: user.isRegistrationActive()}" ng-click="user.setActive('registration')" href="#/registration">Registration</a>
            </nav>
        </header>

        <ng-view></ng-view>
    </div>

    <!--build:js scripts/main.min.js -->
    <script src="scripts/jquery-2.2.3.min.js"></script>
    <script src="scripts/jquery.jgrowl.min.js"></script>

    <script src="scripts/angular-cookies.min.js"></script>
    <script src="scripts/angular-route.min.js"></script>
    <script src="scripts/socket.io-1.4.5.js"></script>

    <script src="scripts/angular/app.js"></script>
    <script src="scripts/angular/filters/invert.js"></script>
    <script src="scripts/angular/filters/unselected.js"></script>
	<script src="scripts/angular/services/user.js"></script>
	<script src="scripts/angular/services/socket.js"></script>
	<script src="scripts/angular/services/time.js"></script>
	<script src="scripts/angular/services/showMessage.js"></script>
	<script src="scripts/angular/services/numbersProcess.js"></script>
	<script src="scripts/angular/services/socketEventInit.js"></script>
    <script src="scripts/angular/controllers/user.js"></script>
    <script src="scripts/angular/controllers/game.js"></script>
    <!-- endbuild -->
</body>
</html>
