﻿<div class="block">
    <h2 class="text-center">Game page</h2>

    <form class="form-horizontal" ng-controller="gameCtrl as game" ng-submit="game.submitForm()">
        <div>
            <h4>Unselected numbers:</h4>
            <div class="barrelWrap" ng-repeat="number in game.numbers">
                <!--| unselected : game.selectedBarrels-->
                <div class="barrel text-center" ng-class="{ selected : number.selected }" ng-click="!number.selected && game.toogle(number)">
                    <span class="barrelText">{{number.number}}</span>
                </div>
            </div>
        </div>
        <div class="selectedNumersWrap">
            <h4>Selected numbers:</h4>
            <h4 ng-hide="game.selectedBarrels.length" class="numberMessage">Empty</h4>
            <div ng-show="game.selectedBarrels.length" class="barrelWrap" ng-repeat="number in game.selectedBarrels">
                <div class="barrel text-center" ng-click="game.toogle(number)">
                    <span class="barrelText">{{number.number}}</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3">
                <button ng-disabled="game.validLen(game.selectedBarrels)" class="btn btn-success">Send selected numbers</button>
            </div>
        </div>

        <div class="selectedNumersWrap">
            <h4>Last sended numbers<span ng-show="game.lastSendedNumbers.length"> (game "{{game.lastSendedNumbers.gameId}}")</span>:</h4>
            <h4 ng-hide="game.lastSendedNumbers.length" class="numberMessage">Empty</h4>
            <div ng-show="game.lastSendedNumbers.length" class="barrelWrap" ng-repeat="number in game.lastSendedNumbers">
                <div class="barrel text-center" style="cursor:default">
                    <span class="barrelText">{{number}}</span>
                </div>
            </div>
        </div>

        <div class="selectedNumersWrap">
            <h4>Messages: </h4>
            <h4 ng-hide="user.infoList.length" class="numberMessage">No message after refresh</h4>
            <ul>
                <li ng-show="user.infoList.length" ng-repeat="info in user.infoList | invert">
                    <span>{{info.message}}</span>
                </li>
            </ul>
        </div>
    </form>
</div>
