﻿<div class="block">
    <h2 class="text-center">Login page</h2>

    <form name="loginForm" class="form-horizontal" ng-submit="loginForm.$valid && user.submitLoginForm()" novalidate>
        <div class="control-group">
            <label class="control-label" for="login">Login (or e-mail)<sup>*</sup></label>
            <div class="controls">
                <input type="text" class="form-control" placeholder="Login (or e-mail)" id="login" ng-model="user.info.login" ng-pattern="user.loginOrEmailPattern" required />
                <p class="help-block" ng-hide="user.info.login">Length of login must be greater than 1. login can be letters or numbers, the first one must be a letter or it may be e-mail</p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="password">Password<sup>*</sup></label>
            <div class="controls">
                <input type="password" class="form-control" placeholder="Password" id="password" ng-model="user.info.password" ng-pattern="user.passwordPattern" required />
                <p class="help-block" ng-hide="user.info.password">Length of password must be greater than 8 and it must contain only latin and special characters and at least one of each</p>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <br/>
                <button type="submit" ng-disabled="!user.info.login || !user.info.password" class="btn btn-default">Login</button>
            </div>
        </div>
    </form>
</div>
