﻿<div class="block">
    <h2 class="text-center">Registration page</h2>

    <form name="registerForm" class="form-horizontal" ng-submit="registerForm.$valid && user.submitRegistrationForm()" novalidate>
        <div class="control-group">
            <label class="control-label" for="login">Login<sup>*</sup></label>
            <div class="controls">
                <input type="text" class="form-control" placeholder="Login" id="login" ng-model="user.info.login" ng-pattern="user.loginPattern" required />
                <p class="help-block" ng-hide="user.info.login">Length of login must be greater than 1. login can be letters or numbers, the first one must be a letter</p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="firstName">First Name</label>
            <div class="controls">
                <input type="text" class="form-control" placeholder="First Name" id="firstName" ng-model="user.info.firstName" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="secondName">Middle name</label>
            <div class="controls">
                <input type="text" class="form-control" placeholder="Middle name" id="secondName" ng-model="user.info.secondName" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="surname">Surname</label>
            <div class="controls">
                <input type="text" class="form-control" placeholder="Surname" id="surname" ng-model="user.info.surname" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="email">Email<sup>*</sup></label>
            <div class="controls">
                <input type="email" class="form-control" placeholder="Email" id="email" ng-model="user.info.email" ng-pattern="user.emailPattern" required />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="password">Password<sup>*</sup></label>
            <div class="controls">
                <input type="password" class="form-control" placeholder="Password" id="password" ng-model="user.info.password" ng-pattern="user.passwordPattern" required />
                <p class="help-block" ng-hide="user.info.password">Length of password must be greater than 8 and it must contain only latin and special characters and at least one of each</p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="repeatedPassword">Repeat password<sup>*</sup></label>
            <div class="controls">
                <input type="password" class="form-control" placeholder="Repeat password" id="repeatedPassword" ng-model="user.info.repeatedPassword" ng-pattern="user.passwordPattern" required />
                <p class="help-block" ng-hide="user.info.repeatedPassword">Length of password must be greater than 8 and it must contain only latin and special characters and at least one of each</p>
                <p class="help-block" ng-show="user.info.password && user.info.repeatedPassword && user.info.password !== user.info.repeatedPassword">Passwords do not match</p>
            </div>
        </div>

        <div class="control-group">
            <div class="ccontrols">
                <br/>
                <button type="submit" ng-disabled="!user.info.login || !user.info.email || !user.info.password || !user.info.repeatedPassword || user.info.password !== user.info.repeatedPassword" class="btn btn-default">Registration</button>
            </div>
        </div>
    </form>
</div>
