.wrapper {
    padding-left: 20px;
    padding-right: 20px;
    position:relative;
    min-width:400px;
}

.block {
    background: #fcfcff;
    border: 1px solid #cfcfcf;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
}

.menu a {
    background: #fff;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    color: #000;
    display: inline-block;
    padding: 5px;
}

.menu a:hover {
    border: 1px solid #808080;
    color: #000;
    text-decoration: none;
}
.menu .active{
    border: 1px solid rgb(220,195,35);
    color: #000;
    text-decoration: none;
}

.jGrowl-notification.success {
  background-color: #61FA7E;
}
.jGrowl-notification.info {
  background-color: #61FAFA;
}
.jGrowl-notification.error {
  background-color: #FA6161;
}

.controls{
    max-width: 600px;
}

.ng-invalid.ng-dirty {
    border-color : #FA787E;
}

.ng-valid.ng-dirty {
    border-color : #78FA89;
}

.barrelWrap {
	position:relative;
    margin: 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.barrel {
	position:relative;
	top: 10px;
	left: 10px;
    display: inline-block;
	cursor: pointer;
    border: 2px solid #FA7373;
	border-radius: 50%;
    width: 30px;
    height: 30px;
	background: #FCFF9C;
	box-shadow: 1px -0px rgb(220,195,35), 1px -1px rgb(255,255,128),
				2px -1px rgb(219,194,34), 2px -2px rgb(254,254,127),
				3px -2px rgb(218,193,33), 3px -3px rgb(253,253,126),
				4px -3px rgb(217,192,32), 4px -4px rgb(252,252,125),
				5px -4px rgb(216,191,31), 5px -5px rgb(251,251,124),
				6px -5px rgb(215,190,30), 6px -6px rgb(250,250,123),
				7px -6px rgb(214,189,29), 7px -7px rgb(249,249,122),
				8px -7px rgb(213,188,28), 8px -8px rgb(248,248,121);
}

.barrel:hover{
    border: 2px solid #ff1c1c;
	top: 9px;
	left: 9px;
    width: 32px;
    height: 32px;
}

.barrel.selected{
	cursor: default;
	background: #E6ED02;
	box-shadow: 1px -0px rgb(220,195,35), 1px -1px rgb(183,183,0),
				2px -1px rgb(219,194,34), 2px -2px rgb(182,182,0),
				3px -2px rgb(218,193,33), 3px -3px rgb(181,181,0),
				4px -3px rgb(217,192,32), 4px -4px rgb(180,180,0),
				5px -4px rgb(216,191,31), 5px -5px rgb(179,179,0),
				6px -5px rgb(215,190,30), 6px -6px rgb(178,178,0),
				7px -6px rgb(214,189,29), 7px -7px rgb(177,177,0),
				8px -7px rgb(213,188,28), 8px -8px rgb(176,176,0);
}

.barrel.selected:hover{
    border: 2px solid #FA7373;
    top: 10px;
	left: 10px;
    width: 30px;
    height: 30px;
}

.barrelText{
	position:relative;
	top: 4px;
	color: #ff006e;
}

.selectedNumersWrap{
 	min-height: 100px;      
}

.numberMessage{
    position: relative;
    left: 20px;
	color: #ff006e;
}
